# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/tools

# testing
/coverage

# production
/build
/dist
/Video Playback Helper.exe
/utils/helper-icon.ico

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history

# secrets
secrets.*.js
